.buttonElements{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}
.page{
    background: transparent;
    border: 1px solid rgb(149 139 139 / 28%);
    color: darkslategray;
    width: 12%;
    border-radius: 0.5rem;
    cursor: pointer;
}
.active{
    background-color: rgba(211, 211, 211, 0.664);
}
